  <div class="xlg-margin"></div><!-- Space 間隔-->
  <div class="container">
    <header class="content-title"><!-- Start .content-title 標題 -->
      <div class="title-bg">
        <h2 class="title cart">YOUR CART<span>購物車</span></h2>
      </div>
    </header><!-- End .content-title -->

    <div class="container">
      <header class="stepTag"><!-- Start .stepTag 步驟標籤 -->
        <ul>
          <li><span>確認購物明細<br>Confirm order</span></li>
            <li class="active"><span>選擇付款方式<br>Payment</span></li>
            <li><span>運費計算<br>Shipping</span></li>
            <li><span>完成訂購<br>Confirmation</span></li>
        </ul>
      </header><!-- End .stepTag 步驟標籤 -->
      
      <%= render partial: "show_order_form", :locals => { order: @order, order_items: @order_items } %>
      
      <div class="input-group custom-checkbox">
        <input type="checkbox" id="agree_privacy" class="checkbox" checked>
        <span class="checbox-container"><i class="fa fa-check"></i></span>
           我已仔細閱讀並明瞭<a href="terms.html" title="服務條款">「服務條款」</a>、<a href="privacy.html" title="隱私權政策">「隱私權政策」</a>、<a href="privacy.html" title="智慧財產權聲明">「智慧財產權聲明」</a>等所載內容及其意義，茲同意該等條款規定，並願遵守網站現今、嗣後規範的各種規則。
    I've read through, understand and accept LadyBoos online policies: <a href="privacy.html" title="PRIVACT">PRIVACT</a>, <a href="terms.html" title="TERMS &amp; CONDITIONS">TERMS &amp; CONDITIONS</a> .
        <p class="text-right">
          <%= link_to categories_path, :id => "back", class: "btn btn-custom-2" do %>
            繼續購物<br>Back to shop
          <% end %>
          <%= link_to "javascript: void(0);", :id => "next_step", class: "btn btn-custom-3" do %>
            確認結帳<br>Confirm order
          <% end %>
        </p>
      </div>
    </div><!-- End .container -->

  </div><!-- End .container -->

<script src="/js_plugins/jq_validation/jquery.validate.min.js"></script>
<script src="/js_plugins/jq_validation/additional-methods.min.js"></script>
<script src="/js_plugins/jq_validation/messages_zh_TW.js"></script>