<% content_for :header do %>
  <div id="banner">
    <div class="container row">
      <div class="col-md-3 col-md-offset-9 col-sm-12">您的訂單</div>
    </div>
  </div>
<% end %>  
<article class="container-fluid">
  <section class="container row">
    <div class="col-md-8 col-md-offset-2" >
      <ul id="step" class="hidden-xs">
        <li>購物步驟</li>
        <li>1. 明細確認</li>
        <li>2. 付款及運送資訊</li>
        <li>3. 最後確認</li>
      </ul>
      <div id="thx" class="text-center">
        <p>感謝您的選購<br>
        ●<br>
        您可至信箱查看本次訂單<br>
        <br>
        <span>我們收到訂單後即進入備貨、出貨流程，正常訂單約3-7個工作天配送完成(不包括假日)<br>
        星期五下午5點以後的訂單會在下一個星期的星期一被處理</span><br>
        <br>
        <%= link_to '返回首頁', root_url %></p>
      </div>  <!--thx-->
    </div>
  </section>
</article>
<%# "虛擬帳號：#{@vaccount.to_s}" if @vaccount %>