<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <p>親愛的管理員，您好：</p>

  <p>有新訂單成立囉，快回來後台管理吧！</p>

  <p><%= link_to "後台登入頁link", new_admin_session_url ,target: "_blank" %></p>
  
  <%= render "ladyboo_mailer/footer" %>
</body>
</html>

