<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <%= render "ladyboo_mailer/header_logo" %>  
  
  <p>親愛的會員 <%= @user.username%>，您好：</p>

  <p>感謝您的註冊，祝您購物愉快。</p>

  <br>

  <p>Dear member <%= @user.username %>, hello :</p>
  
  <p>Thank you for registering on our website , we hope you had a pleasant shopping experience.</p>  

  <%= render "ladyboo_mailer/footer" %>
</body>
</html>