<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <%= render "ladyboo_mailer/header_logo" %>  
  
  <p>親愛的會員 <%= @user.username%>，您好：</p>

  <p>感謝您註冊的註冊，歡迎使用ladyboo網站。</p>

  <%= render "ladyboo_mailer/footer" %>
</body>
</html>