.bgBottom { bottom: 10px;z-index: 0; }
.bottom{bottom:118px;}
.item-image-container .item-price-container { line-height:85px;margin-top:0px!important;behavior: url(../css/border-radius.htc);}
.footer-text-container p { display:block;float:right;}
.footer-text-container p:after { display:block;float:right;}
#footer .fb-share-button { position: static;margin:50px 0 0 25px; }
#main-nav-container #main-nav .menu li ul{top:65px;}
.stepTag { padding-bottom: 10px;background-color: #313131;  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/bg_cartStep.png', sizingMethod='scale');-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/bg_cartStep.png', sizingMethod='scale')";}
#quick-access{margin-top:20px!important;}
.custom-checkbox .checbox-container{display: none;}

