.title.register { width: 330px; }
.layout.member { width: 100%; }
.layout.member p { font-size: 1.2em; padding-bottom: 20px; }
.layout.member a { text-decoration: underline; }
#register-form .input-group .input-group-addon { width: 125px; border-radius: 2px 0 0 2px; padding: 0px 10px; line-height: 44px; min-width: 125px; }
.input-group { width: 50%; margin-bottom: 30px; }
.input-group.register-email { float: left; }
.emailNote { float: left; padding-left: 10px; font-size: 0.9em; width: 50%; }
.input-group.register-phone { clear: both; }
.custom-checkbox input[type="checkbox"]:checked + .checbox-container { background: #c9006e !important; border-color: #c9006e; }
label { font-size: 1.0em; font-weight: normal; color: #646464; }
#content .btn-custom-2, #content .btn-custom-3 { font-size: 0.8em; }
.code { background-color: #FFF; border: solid 1px #eee; width: 50%; padding: 10px; margin-bottom: 20px; }
#register-form .code .input-group .form-control { background-color: #F2F2F2; color: #B3B3B3; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; }
fieldset.half-margin { margin-bottom: 0px; }
@media screen and (-webkit-min-device-pixel-ratio:0) {
#register-form .input-group select.form-control { background-image: url(../images/bg_selectBirthday.jpg); }
#register-form .input-group select.form-control:hover { background-image: url(../images/bg_selectBirthday2.jpg); }
}
#register-form .input-group select.form-control { height: 47px; width: 25%; float: left; margin: 0; }
#register-form .register-birthday p { float: left; padding-bottom: 0; padding-right: 8px; padding-left: 8px; margin: 0; line-height: 45px; font-size: 1.0em; }
@media (min-width: 992px) and (max-width: 1200px) {
#register-form .input-group select.form-control { width: 23%; }
.emailNote { width: 33%; }
.input-group { width: 55%; }
.code { width: 55%; }
}
@media (min-width: 768px) and (max-width: 991px) {
.title.register { width: 20%; min-width: 310px; }
.input-lg { display: block; }
.input-group { width: 73%; }
.emailNote { width: 24%; }
#register-form .input-group select.form-control { width: 23%; }
.code { width: 73%; }
}
@media (max-width: 767px) {
.title.register { width: 280px; }
.layout.member p { font-size: 1.0em; padding-bottom: 20px; }
.md-margin { margin-bottom: 10px !important; }
.input-group .input-group-addon { width: 105px; border-radius: 2px 0 0 2px; padding: 0px 10px; line-height: 44px; min-width: 105px; padding: 0 5px; }
.emailNote { display: none; }
.row { padding-right: 0 15px; margin: 0; }
#register-form .input-group .input-group-addon { width: 115px; padding: 0px 4px; min-width: 115px; }
#register-form .input-group select.form-control#register-month { clear: both; width: 38%; }
#register-form .input-group select.form-control#register-date { width: 38%; }
#register-form .input-group select.form-control#register-year { margin-bottom: 20px; width: 45%; }
.register-birthday .input-group-addon { display: block; float: left; }
.layout.member .input-group select.form-control { float: left; }
.layout.member p { float: left; }
.input-group { width: 100%; }
#content .container { padding: 0 10px; }
.half-margin { font-size: 0.9em; }
.code { width: 100%; }
#content .btn-custom-2, #content .btn-custom-3 { font-size: 1em; }
}
