/*-------------------------------------------------------------------------------------------ProdList---*/
.col-md-4 { width: 275px;}
.item { overflow: hidden;margin-bottom: 30px; padding-top: 15px; padding-left: 10px; padding-right: 10px; padding-bottom: 15px; }
.item > .item-image-container { width: 230px; }
.category-item-container .item:hover { background-image: url(../images/slider.gif); }
.item-image-container figure {height: 230px;width: 230px;overflow: hidden;}
#content .item > .item-image-container figure img { max-width: 230px; width: 100%; display: block; height: auto; }
.col-xs-12 { display: inline-block; padding-left: 10px; padding-right: 10px; }
/*貼紙*/
.new-rect { background: url(../images/idx-03.png); width: 69px; height: 38px; color: #333; padding-right: 5px; left: -3px; font-size: 1.2em; }
.item-price-container { background: url(../images/idx-04.gif); }
.item-image-container .item-price-container { font: 100 1.3em Helvetica, Microsoft JhengHei, "微軟正黑體"; width: 85px; height: 85px; }
.item-image-container .item-price-container .item-price { margin-top: 0px; font-size: 1.1em; line-height: 85px; }

/*圖片*/
.item:hover > .item-image-container .item-image { visibility: visible; opacity: 1;}
/*文字*/
.item-name { white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font: 100 1.0em Helvetica, Microsoft JhengHei, "微軟正黑體"; margin: 0 0 5px 0; }
.category-item-container .item:hover .item-name { color: #FFF; }
.item-meta-container { margin: 20px 0 0 0 }
.item-action { margin: 5% 0 0 0 }
/*價格*/
.item-price-col { color: #434343; font-size: 1.1em; }
.category-item-container .item:hover .item-price-col { color: #FFF; }
.item-price-original { text-decoration: line-through; margin: 0 10px 0 0; color: #646464; }
.item-price-sale { color: #D01A7E; font-weight: 600; font-size: 1.1em; color: #f858b7; }
.category-item-container .item:hover .item-price-original { color: #646464; }
.category-item-container .item:hover .item-price-sale { color: #f858b7; }
/*按鈕*/
.item-add-btn { background-color: #313131; border-color: #313131; padding: 4px 15px 2px 15px; text-align: center; line-height: 1.2em!important; height: auto; color: #FFF; font-size: 0.9em!important; }
.item-action .item-add-btn:hover, .item-add-btn:focus, .item-add-btn:active, .item-add-btn.active { background-color: #C9006E; border-color: #C9006E; }
.item-add-btn span { display: block; }
.icon-button { width: 40px; height: 40px; border-radius: 3px; }
.icon-compare { background: url(../images/idx-07.png) center center no-repeat #fff!important; border: 1px solid #313131; }
.icon-compare:hover { cursor: pointer; background: url(../images/idx-07h.png) center center no-repeat #D01A7E!important; border: 1px solid #D01A7E; }
.icon-like { background: url(../images/idx-06.png) center center no-repeat #fff!important; border: 1px solid #313131; }
.icon-like:hover { background: url(../images/idx-06h.png) center center no-repeat #D01A7E!important; border: 1px solid #D01A7E; }
.icon-cancel {display:block;height:40px;width:40px;border-radius:4px;position: absolute;right: 55px;background: url(../images/idx-08.png) center center no-repeat #fff!important;border: 1px solid #313131;}
.icon-cancel:hover { background: url(../images/idx-08h.png) center center no-repeat #D01A7E!important; border: 1px solid #D01A7E; }

@media (max-width: 940px) {
.icon-cancel { position: relative;float:right;right:0; }
}
@media (min-width: 992px) and (max-width: 1200px) {
.col-md-4 { width: 275px;  }
.item .item-image-container { width: 230px; }
}
@media (min-width: 768px) and (max-width: 991px) {
.col-md-6.col-sm-12.col-xs-12.product { width: 100%; }
.col-md-4 { width: 275px; }
.item .item-image-container { width: 230px; }
}
@media (max-width: 767px) {
.item .item-image-container { width: 230px; }
.col-md-4 { width: 100%; max-width: 280px; }
.col-md-6.col-sm-12.col-xs-12.product { width: 100%; }
.col-xs-12 { float: none; }
.item > .item-image-container .item-price-container .item-price { font-size: 1.3em;margin-top: 0px;  }
}

/*-------------------------------------------------------------------------------------------ProdList---*/
#prodTop .fb-like{position: absolute;left:0;bottom:-20px; z-index: 900;}
@media (max-width: 767px) {
#prodTop .fb-like{display: none;}
}