<div id="wrapper">
  <div id="up">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <%= form_for(@order, :url => "/admin/orders/#{@order.id}/#{params[:event]}", html: { id: "patchthisorder" } ) do |f| %>
        <tr>
            <td width="24%">確認操作：</td>
            <td width="76%"><%= get_event_display_name(params[:event]) %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div id="down">
    <a href="javascript: document.getElementById('patchthisorder').submit();" id="send" class="action_confirmed" data-no-turbolink = true >確定</a>
    <%= link_to "取消" , "javascript: void(0);" , class: "cancel" , id: "cancel" %>
  </div>
</div> 