<link rel="stylesheet" href="/css/pagePrivacy.css">

<% content_for :meta_area do %>
  <meta property="og:title" content="LadyBoo -女性時尚">
  <meta property="og:image" content="<%= image_url('/images/fb-kv.jpg') %>">
<% end %>

<% content_for :breadcrumb do %>
  <%= link_to 'Home', root_path, title: '首頁' %> &nbsp; > &nbsp; PRIVACY
<% end %>

<div class="xlg-margin"></div><!-- Space 間隔 -->

<div class="container">
  <header class="content-title"><!-- Start .content-title 標題 -->
    <div class="title-bg">
      <h2 class="title privacy">PRIVACY<span>隱私權聲明</span></h2>
    </div>
  </header><!-- End .content-title 標題 -->
  <div class="privacy">
    <p>歡迎您光臨 LadyBoo 網站，本網站是由女駙服飾有限公司（下稱本公司）經營。為充分保護您的個人資料及隱私，敬請於使用本網站服務或訂購本網站商品前，詳閱下列隱私權政策；若您不同意其中任何內容，請勿繼續使用本網站服務或訂購本網站商品，但依然感謝您的光臨，也希望日後能有機會為您服務>。</p>
    <h2>個人資料保護法應告知事項</h2>
    <ol>
      <li>您於本網站提供的個人資料是由女駙服飾有限公司所蒐集，包括姓名、生日、聯絡方式（包含地址、電話、電子信箱）、消費紀錄、登入本網站而自動留存之軌跡及其他因使用本網站服務
        而提供或產生的個人資料。</li>
      <li>本公司蒐集您上述個人資料之目的，僅限於（1）提供本網站服務，包含瀏覽商品、訂購商品、商品寄送、加入會員、電子報訂閱（2）寄發優惠活動、商品資訊或重大訊息（3）會員服務
        及資料管理（4）舉辦或合辦行銷推廣活動（5）其他經您書面同意之使用目的。</li>
      <li>為保障您的個人資料，本公司使用您個人資料之地區、期間、對象及方式，均僅限於完成上述蒐集目的所需或與上述蒐集目的具正當合理關聯之範圍內。</li>
      <li>您得依個人資料保護法規定，就您上述個人資料請求查詢、閱覽、補充、更正、刪除、製給複製本或停止蒐集、處理或利用。為保障您的個人資料不會外流，請檢具足以證明您身分之文件
        影本並載明請求事項，寄至台北市內湖區民權東路 6 段 109 號 3 樓之 2，本公司會盡速為您處理。</li>
      <li>若本網站部分欄位載明為選填者，只是為了提供您更為多元豐富的服務，您可自由選擇是否填寫，不會影響您的權益。另因本網站各項服務或商品訂購均係透過網路進行，故您同意以電子
        文件作為依個人資料保護法行使書面同意之方式。</li>
    </ol>
    <h2>社群網站頁面資料說明</h2>
    <p>由於本公司另設有 Facebook 及其他社群網站頁面，有可能會經您點選同意或按讚後，將本網站部分資訊發布於您的社群活動頁面；若您不願於社群活動頁面出現本網站資訊，敬請勿點選同意或按讚。</p>
    <h2>Cookie 設定與存取</h2>
    <p>為便於您使用本網站之全部功能，本網站預設有 Cookie 之存取；您可透過個人電腦或上網設備之設定加以關閉，但可能會造成使用本網站服務之不便利，敬請見諒。</p>
    <h2>保密與安全性</h2>
    <ol>
      <li>除為協助犯罪偵查或司法爭訟之進行而提供資料予法院或檢調機關外，本公司未經您同意，不會將您的個人資料無故提供予第三人。</li>
      <li>請您勿將會員帳號或密碼提供予第三人，也勿允許第三人以您的個人資料申請或請求變更您的帳號或密碼，本公司就核對資料無誤之申請或請求變更，將視同您本
        人所為。 </li>
    </ol>
    <h2>網站免責事項</h2>
    <ol>
      <li>因駭客入侵、電腦病毒發作、政府管制或其他非因本公司故意或重大過失造成網站無法正常使用及其所產生之資料毀損、遺失、盜用或竄改之情形，本公司不負補償或賠償責任。</li>
      <li> 對於本公司以外之第三人於本網站提供不實、違法資訊或侵害他人權益之行為，純屬該第三人個人責任，相關糾紛與本公司無關。</li>
      <li>就本網站進行升級、維修、保養、遷移或其他不可歸責於本公司而必須中斷服務之情形，本公司不負事先通知義務，且對此產生之直接或間接損害，不負賠償或補償之義務。</li>
    </ol>
    <h2>隱私權政策之修改</h2>
    <p>隱私權政策日後如有修改，本公司無法個別通知，敬請隨時點選本隱私權政策；若您不同意修改內容，敬請停止使用本網站服務。</p>
    <hr />
    <p>Welcome to LadyBoo website.  This website is operated by NÜ FU Clothes Co. Ltd.(hereinafter the “Company”). In order to fully protect your personal information and privacy, please read the following privacy policy carefully before you use any service of this website or order any product from this website. If you do not agree with any provision, please do not continue to use any service of this website or order any product from this website.  But we thank you for your visit and hope to serve you in the future.</p>
    <h2>Required Notifications under Personal Data Protection Act</h2>
    <ol>
      <li>The personal data you provide on this website is collected by NÜ FU Clothes Co. Ltd., including name, date of birth, contact coordinates (including address, telephone, email address), 
        consumption record, traces left automatically from the login onto this website and other personal information provided or generated from the use of services on this website.</li>
      <li>The purpose of our collection of your above-mentioned personal information is limited to (1) provision of services on this website, including product viewing, product order, product 
        delivery, membership and subscription to newsletters, (2) issuance of promotional events, product information or important message, (3) member services and information 
        management, (4) hosting or co-hosting of marketing events and (5) other purpose of use with your written consent.</li>
      <li>To protect your personal data, the territory, period, target and method of our use of your personal information will be limited to the completion of the above-mentioned purposes of 
        collection and within the scope of justified and reasonable connection with the above-mentioned purposes of collection. </li>
      <li>In accordance with the provisions of the Personal Data Protection act, you can request consultation, review, supplementation, correction, deletion, or provision or a copy of your 
        personal information, or the cessation of collection, processing, or use of your personal information. To ensure that your personal information is not disclosed, please provide copies of 
        your identification documents, specify your request and send them to 3F-2, No. 109, Sec. 6, Mingquan E. Rd., Neihu Dist., Taipei City. The Company will process your request as soon 
        as possible.</li>
      <li>If any column on the website is specified as optional, the purpose is to provide you with more diversified services. You can choose whether or not to complete the column at your 
        discretion, which will not affect your interest. All services and product orders on this website are done through the Internet. Therefore you agree to exercise your written consent by 
        electronic document in accordance with the Personal Data Protection Act.</li>
    </ol>
    <h2>Note about Information on Social Network Website Pages</h2>
    <p>The Company also has Facebook and other social network web pages. When you click on “agree” or “like”, some information on this website may be displayed on the page of your social network activities. If you do not wish for information on this website to be displayed on the page of social network activities, please do not click “agree” or “like”.</p>
    <h2>Cookie Setting and Access</h2>
    <p>To facilitate your use of all functions of this website, Cookie access is configured on this website. You can turn off this configuration through your personal computer or Internet access device. But this may cause inconvenience in the use of services on this website. Please understand.</p>
    <h2>Confidentiality and Security</h2>
    <ol>
      <li>The Company will not provide your personal information to any third party without your consent except for provision of information to the court or prosecution authority in assisting with 
        criminal investigation or judicial dispute.</li>
      <li>Please do not provide your member account number or passcode to any third party, nor allow any third party to file any application with your personal information or request to change 
        your account number or passcode. The Company will consider any application or change request with correct information verified as your actions.</li>
    </ol>
    <h2>Website Disclaimer</h2>
    <ol>
      <li>If the website cannot be used normally due to hacking, computer virus, government control, or any reason other than our willful act or gross negligence, The Company will not be liable 
        for any indemnification or compensation for any destruction, loss, theft or alteration of data. </li>
      <li>Any provision by any third party other than us of any information on this website that is false, illegal, or infringing upon other person’s interest shall be the personal liability of such third 
        party and The Company shall be held harmless from any relevant dispute.</li>
      <li>If service needs to be interrupted due to any upgrade, maintenance, repair, relocation of this website or for any other reason that is not attributable to us, The Company does not have 
        the obligation of giving prior notice and shall not be liable for any indemnification or compensation for any direct or indirect loss incurred.</li>
    </ol>
    <h2>Amendment to Privacy Policy</h2>
    <p>In case of any amendment to the Privacy Policy, The Company will not provide individual notice. Please click on this Privacy Policy at any time. If you do not agree to any amendment, please stop using the services on this website.</p>
  </div>
  <div class="xlg-margin"></div><!-- Space 間隔 -->
  <div class="container">
    <header class="content-title"><!-- Start .content-title 標題 -->
      <div class="title-bg">
        <h2 class="title right">INTELLECTUAL PROPERTY RIGHT<span>智慧財產權聲明</span></h2>
      </div>
    </header><!-- End .content-title 標題 -->
    <div class="right">
    <p>歡迎您光臨 LadyBoo 網站，本網站是由女駙服飾有限公司（下稱本公司）經營。本網站所有內容，包括但不限於商品設計、商品照片、模特兒肖像、美術編輯、網站功能、網頁版式、本公司商標或其他資訊，均屬本公司或相關權利人受商標法、著作權法、專利法或營業秘密法保護之合法權利客體，未經本公司事前書面授權或同意，不得就全部或部分內容加以複製、重製、散佈或有其他足生損害於本公司或相關權利人之行為，否則應自負民、刑事責任（包括但不限於賠償本公司之律師費及訴訟費用）。</p>
    <hr />
    <p>Thank you for using the LadyBoo website and for your order of products on this website. This website is operated by NÜ FU Clothes Co. Ltd. (hereinafter the “Company”). All contents of this website, including but not limited to product design, product pictures, model images, artistic editing, website function, webpage layout, The Company’s trademark, and other information are legal entitlements of The Company or the relevant rights holders under the protection of the Trademark Act, Copyright Act, Patent Act, and Trade Secret Act. None of the above shall be reproduced, copied, or distributed in whole or in part without the prior written authorization or consent of The Company, nor shall there be any act that causes damage to The Company or the relevant rights holder. Otherwise the person shall bear civil and criminal liabilities (including but not limited to compensating The Company’s attorney’s fees and litigation fees).</p>
    </div>
  </div>
</div>
