<% content_for :meta_area do %>
  <meta property="og:title" content="LadyBoo -女性時尚">
  <meta property="og:image" content="<%= image_url('/images/fb-kv.jpg') %>">
<% end %>

<% content_for :breadcrumb do %>
  <%= link_to 'Home', root_path, title: '首頁' %> &nbsp; > &nbsp; SIZE
<% end %>

  <link rel="stylesheet" href="/css/pageSize.css">
  <div class="xlg-margin"></div><!-- Space 間隔 -->

    <div class="container">
      <header class="content-title"><!-- Start .content-title 標題 -->
        <div class="title-bg">
          <h2 class="title size">SIZE<span>尺寸說明</span></h2>
        </div>
      </header><!-- End .content-title 標題 -->
      
        <p>尺寸表只供一般參考。在每件商品的頁面上會包括詳細的商品平放丈量規格(cm)。<br>
This chart should only be used as a general guide. We also include the detail size information in cm under each product page.</p>
	  <div class="row portfolio-item-container" data-max-col="3">
          <div class="col-md-6 col-sm-6 col-xs-6">
          <img src="/images/page/img_size01.png" class="img-responsive"></div>        
          <div class="col-md-6 col-sm-6 col-xs-6"> 
          <img src="/images/page/img_size02.png" class="img-responsive"></div>
          <div class="col-md-6 col-sm-6 col-xs-6"> 
          <img src="/images/page/img_size03.png" class="img-responsive"></div>
          <div class="col-md-6 col-sm-6 col-xs-6"> 
          <img src="/images/page/img_size04.png" class="img-responsive"></div>
          <div class="col-md-6 col-sm-6 col-xs-6"> 
          <img src="/images/page/img_size05.png" class="img-responsive"></div>
          <div class="col-md-6 col-sm-6 col-xs-6"> 
          <img src="/images/page/img_size06.png" class="img-responsive"></div>
        </div>
      </div>
