<link rel="stylesheet" href="/css/pagePrivacy.css">

<% content_for :breadcrumb do %>
  <%= link_to 'Home', root_path, title: '首頁' %> &nbsp; > &nbsp; TERMS &amp; CONDITIONS
<% end %>


 <div class="xlg-margin"></div><!-- Space 間隔 -->

      <div class="container">
        <header class="content-title"><!-- Start .content-title 標題 -->
          <div class="title-bg">
            <h2 class="title terms">TERMS &amp; CONDITIONS<span>服務條款</span></h2>
          </div>
        </header><!-- End .content-title 標題 -->
        <div class="privacy">
          <p>感謝您使用 LadyBoo 網站及訂購本網站商品，本網站是由女駙服飾有限公司（下稱本公司）經營。為充分保障您的交易安全及購物權益，敬請於使用本網站服務或訂購本網站商品前，詳閱下列服務條款；若您不同意其中任何內容，請勿繼續使用本網站服務或訂購本網站商品，但依然感謝您的光臨，也希望日後能有機會為您服務</p>
          <h2>同意條款</h2>
          <ol>
            <li>您於第一次訂購本網站商品前，請詳細閱讀本服務條款、本網站公告之<a href="/pages/privacy" title="隱私權政策及智慧財產權聲明">隱私權政策及智慧財產權聲明</a> ，當您開始訂購流程時，代表您已瞭解並同意其全部內容；若您不同意其中任何內容，
    請勿填寫個人資料或進入訂購流程。</li>
            <li>就本服務條款、本網站隱私權政策或智慧財產權聲明之修改，除影響您已完成之訂購流程，本公司會個別以電子郵件或手機簡訊通知外，其餘修改均無法個別通知，您可於每次瀏覽本網站
    或訂購商品前詳細閱讀；當您於修改後繼續使用本網站服務，視為您已同意修改內容。
</li>
            <li>因本網站各項服務或商品訂購均係透過網路進行，故您同意以電子文件、電子紀錄或電子郵件作為意思表示或行使書面同意之方式，本公司亦可透過電子文件或電子郵件向您為意思表示；
    倘因您提供之電子郵件有誤或未正常運作，導致您無法正確且完整收受本公司之意思表示，您同意就此情形視為本公司之意思表示已合法送達。</li>
            <li>若您未滿 20 歲，請先獲得父母或監護人同意後，再使用本網站服務或訂購本網站商品；當您進行商品之訂購時，表示您已獲得父母或監護人之同意，或同意您所訂購之商品屬於日常生活
    所必須。</li>
          </ol>
          <h2>個人資料保護及帳號密碼維護</h2>
          <ol>
            <li>本公司非常重視您的個人資料保護，相關個人資料保護事項，請詳見本網站公告之<a href="/pages/privacy" title="隱私權政策">隱私權政策</a>。</li>
            <li>為保障交易安全，請務必就您自行選定之帳號及密碼善盡保管及保密責任，勿將帳號或密碼洩漏予第三人或與第三人共用，或允許第三人使用您的個人資料申請帳號或請求變更密碼；就使
    用您正確帳號及密碼登入後之交易行為，將視為您本人所為（但若您能證明是遭第三人非法盜用且您無過失，本公司將視個案同意撤銷交易行為）。</li>
            <li>您同意且保證所填寫之個人資料均係您本人之真實資料，未使用他人資料或不實資料；若經本公司發現有違反情事，本公司得暫停或單方終止您使用該帳號及本網站服務之權利，且暫停或
    終止之後果由您自行負責，與本公司無關。</li>
            <li>當您發現帳號或密碼遭盜用時，應立即通知本公司，避免您的權益受損，本公司將於查明確屬盜用後，為您重新設定帳號或密碼 。</li>
          </ol>
          <h2>交易注意事項</h2>
          <ol>
            <li>您將本網站商品置入購物車時，尚未完成訂購程序，若於您完成訂購程序前，有其他人完成訂購程序，造成該商品售罄時，本網站會通知您自購物車移除該商品或減少訂購數量。</li>
            <li>本公司對於您完成訂購程序之訂單，除於完成訂購程序後 2 個工作日內，因不可歸責於本公司事由而無法接受訂單外，視為接受下單，但就您已完成付款之訂單，本公司除依法令規定外，
    不得拒絕。</li>
            <li>倘本網站商品標價錯誤（例如價格明顯過低且該商品並無優惠活動），本公司得視錯誤情形，就該商品訂定每一消費者訂購數量之上限，超過該上限之訂單或同一消費者利用多數帳號重複
    下單時，本公司得拒絕該訂單。</li>
            <li>您可依消費者保護法第 19 條規定，於貨到後 7 日之猶豫期內，向本公司表示解約退款，相關詳細程序請詳見本網站公告之<a href="/contacts" title="退換貨須知">退換貨須知</a>。特別提醒您，猶豫期並非試用期，若因您已使用該
    商品而造成汙損或無法回復的使用痕跡，本公司依法得視個案情形拒絕解約。</li>
            <li>完成訂購程序後，您可選擇使用信用卡、 ATM 轉帳、Paypal 等不同方式進行付款，相關細節請詳見本網站公告之付款方式。</li>
            <li>本網站之商品運送將依您於訂購程序中指定之方式為之，除另行標示或有優惠活動外，本網站商品之標價不包含運費；關於各種運送方式及運費標準，請詳見本網站公告之商品運送及運費。</li>
            <li>有關其餘交易注意事項，請參考本網站公告之各項訂購商品須知；當您開始訂購流程時，代表您也瞭解並同意其全部內容。</li>
          </ol>
          <h2>服務暫停或終止條款</h2>
          <p>為維護多數消費者之權益，若您有下列情事之一，本公司得暫停或終止您的帳號權限或拒絕您使用本網站服務：</p>
          <ol>
            <li>違反本服務條款、本網站公告之隱私權政策或智慧財產權聲明；</li>
            <li>提供錯誤或不實之個人資料；</li>
            <li>盜刷或盜用他人信用卡或金融帳號，或其他疑似違法之交易行為；</li>
            <li>惡意解約退貨或無故未完成貨到付款之取貨達 3 次。</li>
          </ol>
          <h2>其他事項</h2>
          <ol>
            <li>本服務條款、本網站公告之隱私權政策及智慧財產權聲明如有部分條款無效時，不影響其他約定之效力；如有規範不足之處，應依我國法律解釋、補充及辦理。</li>
            <li>萬一您與本公司間就使用本網站服務或訂購商品發生糾紛，應以臺灣臺北地方法院為第一審管轄法院。</li>
          </ol>
          <hr />
          <p>Thank you for using the LadyBoo website and for your order of products on this website. This website is operated by NÜ FU Clothes Co. Ltd. (hereinafter the “Company”). In order to fully protect your transaction security and shopping interests, please read the following terms and conditions of service carefully before you use any service of this website or order any product from this website. If you do not agree with any provision, please do not continue to use any service of this website or order any product from this website. But we thank you for your visit and hope to serve you in the future.</p>
          <h2>Agreed Terms and Conditions</h2>
          <ol>
            <li>Before your first order of any product on this website, please read these Terms and Conditions of Service and the <a href="/pages/privacy" title="Privacy Policy and the Intellectual Property Right Statement">Privacy Policy and the Intellectual Property Right Statement</a> published on this website carefully. When you start the order process, you are deemed to have understood and agreed to all of such terms and conditions. If you do not agree with any of such terms, please do not complete your personal information, nor enter into the order process.</li>
            <li>Other than any amendment to these Terms and Conditions of Service or the Privacy Policy or Intellectual Property Statement of this website that may affect the order process that you have completed, which The Company shall notify individually by email or mobile text message, no other amendment shall be notified individually. You can read them carefully upon each visit to this website or before ordering any product.  If you continue to use any service of this website after such amendment, you shall be deemed to have agreed to the amendment.</li>
            <li>The services and product orders on this website are done through the Internet.  Therefore you agree to express your intentions or exercise your written consents by electronic document, electronic record, or email. The Company can also express our intentions to you through electronic document or email. In case of any error or malfunction of any email you provide, rendering it impossible for you to receive our expression of intention correctly and fully, you agree that our expression of intention shall be deemed legally delivered under such 
    circumstances.</li>
            <li>If you are less than 20 years old, please acquire consent from your parent or guardian before you use any service of this website or order any product from this website.  When you order any product, it shall be deemed that you have acquired the consent of your parent of guardian or that you have agreed that the product you ordered is a necessity of daily life.</li>
          </ol>
          <h2>Personal Information protection and Maintenance of Account Number and Passcode</h2>
          <ol>
            <li>The Company is very dedicated to the protection of your personal information. For matters related to personal data protection, please refer to the <a href="/pages/privacy" title="Privacy Policy">Privacy Policy </a>published on this website.</li>
            <li>To ensure transaction security, please maintain and keep confidential the account number and passcode you selected and do not disclose the account number or passcode to any third party, or share the account number or passcode with any third party, or allow any third party to use your personal information to apply for an account number or request a change of passcode. All transactions after login with the use of your correct account number and passcode will be deemed to have been done by you (but if you can prove that a third party 
    engaged in illegal and fraudulent use and you are not negligent, The Company will agree to cancel the transaction based on individual cases.)</li>
            <li>You agree and guarantee that the personal information you completed was true information of yourself and that you have not used any other person’s information or false information. If The Company discovers any violation, The Company may suspend or unilaterally terminate your right to use this account number and the services on this website. You will be solely responsible for the consequence of such suspension or termination and shall hold us harmless.
</li>
      <li>If you discover that your account number or passcode has been used fraudulently, you should inform us immediately to avoid any damage to your interest. The Company will re-set the account number and/or passcode for you after the fraudulent use is confirmed.</li>
          </ol>
          <h2>Note about Transactions</h2>
          <ol>
            <li>When you put products in this website into the shopping cart, you have not yet completed the order process. If any other person completes the order process before you complete the order process, exhausting the stock of the product, our website will inform you that the product has been removed from your shopping cart, or the quantity ordered has been reduced.</li>
            <li>The Company is deemed to have accepted your order for which you completed the order process, unless The Company cannot accept the order due to any reason that is not attributable to us within 2 working days from the completion of the order process.  However, unless provided by law, The Company cannot refuse any order for which you have completed the payment.</li>
            <li>If any product on this website is wrongly priced (such as excessively low price without any promotional event), The Company may impose a limit on the quantity that may be ordered by each consumer for each product. The Company can refuse any order that exceeds such limit or if the same consumer uses different account numbers to issue multiple orders.</li>
            <li>In accordance with Article 19 of the Consumer Protection Act, you can inform us to cancel the contract and request a refund within the consideration period of 7 days after delivery of the product.  The relevant detailed process is provided in the <a href="/contacts" title="Guidelines for Product Return and Replacement">Guidelines for Product Return and Replacement</a> published on this website. The Company reminds you that the consideration period is not a trial period. If you have used the product and left any mark of stain or irreversible trace, The Company may refuse to cancel the contract based on the individual case in accordance with law.</li>
            <li>After the order process is completed, you can choose to use a credit card, transfer money by ATM(Only Taiwan Domestic Orders), or paypal. The relevant details are provided under Payment Terms published on this website.</li>
            <li>Products on this website will be delivered in the designated manner you selected during the order process. Unless otherwise indicated or under any promotional event, the product prices on this website do not include shipping fees.  For all shipping methods and shipping fee schedule, please refer to product delivery and shipping fee published on this website.</li>
            <li>For all other matters related to transactions, please refer to all Guidelines for Product Order published on this website. When you start an order process, you are deemed to have understood and agreed to all provisions.</li>
          </ol>
          <h2>Suspension or Service or Termination Clause</h2>
          <p>To maintain the interest of most consumers, if you have any of the following events, The Company may suspend or terminate the entitlement of your account number or refuse your use of any service on this website:</p>
          <ol>
            <li>Violation of these Terms and Conditions of Service or the Privacy Policy or Intellectual Property Statement published on this website;</li>
            <li>Provision of erroneous or false personal information;</li>
            <li>Fraudulent or unauthorized use of other person’s credit card or financial account number or other act of transaction that is suspected to have violated the law;</li>
            <li>Malicious cancellation of contract for product return or unjustified failure to collect products that are to be paid upon delivery 3 times or more.</li>
          </ol>
          <h2>Other Matters</h2>
          <ol>
            <li>If any provision under these Terms and Conditions of Service or the Privacy Policy or Intellectual Property Statement published on this website is invalid, the validity of the other provisions shall not be affected. Any matter that is not fully provided hereunder shall be subject to the interpretation, supplement and application of the laws of the Republic of China.</li>
            <li>If you have any dispute with us with regard to the use of any service on this website or the order of any product, the Taiwan Taipei District Court shall be the first-instance court of jurisdiction.</li>
          </ol>
        </div>
      </div>

