<link rel="stylesheet" href="/css/page404.css">

<div class="container">
  <div class="col-md-12">
      <div class="row"><img id="bannerImg" src="/images/page/img_error.jpg"></div>
      <h4>抱歉！<span>這個頁面無法取得</span></h4>
      <h5>還請<a href="#" title="上一頁">返回上一頁</a>，或前往<a href="index.html" title="首頁">首頁</a></h5>
  </div>
  </div>
</div><!-- End .container -->

<script>
  setTimeout(function() { window.location.href = '<%= root_url %>'; }, 1000);
</script>