<tr>
  <td width="12%">
    <%= link_to user.username, admin_user_path(user)  %>
  </td>
  <td width="76%">
    <%= link_to user.email, admin_user_path(user)  %>
  </td>
  <td width="12%">
    <div class="tool">
      <!-- <a class="delete" title="刪除"></a> -->
    </div>
  </td>
</tr>