<!doctype html>
<html>
<head>
<!--[if lt IE 9]>
<script src="/js/admin/html5.js/admin"></script>
<![endif]-->
<meta charset="utf-8">
<meta name="Robots" content="index,follow"/>
<meta http-equiv="content-language" content="zh-TW" />
<title>LadyBoo 後台管理系統</title>
<link rel="stylesheet" href="/css/admin/reset.css">
<!--link rel="stylesheet" href="/css/admin/global.css"-->
<link rel="stylesheet/less" type="text/css" href="/css/admin/login.less" />
<script src="/js/admin/jquery.min.js"></script>
<script src="/js/admin/less.min.js"></script>
<script src="/js/admin/global.js"></script>
</head>

<body>

<%= yield %>

<div id="footer" _height="none"> Copyright © Summers </div>
</body>
</html>
