<% attachments.inline['camalogo.png'] = File.read(File.join("public","images","email", "camalogo.png")) %>

<%= image_tag attachments['camalogo.png'].url %>

<p>親愛的會員 <%= @resource.username %>，您好：</p>

<p>您收到這封 Email 是由於您要求更換帳號(<%= @resource.email %>)的密碼，請點擊下面的連結修改密碼：</p>

<p><%= link_to '變更密碼', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>如果您沒有做出這樣的要求，請忽略這封信。</p>
<p>注意事項：</p>
<p>此信件為系統自動寄送，勿直接回覆此信件</p>
<p>cama網站： <a href="​http://www.camacafe.com/">​http://www.camacafe.com/</a> </p>
<p>客服專線：​​ 02-2755-0068​ </p>
<p>傳真電話：​02-2755-0020​ </p>
